/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
position: sticky;
top: 0px;
    background-color: #222222;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    font-size: 1.5em;
    color: rgb(241, 241, 63);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li {
    font-size: 18px;
}

/* Responsive NavBar */
@media (max-width: 768px) {
    nav{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    nav div{
        font-size: 15px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.4em 0;
        font-size: 15px;
    }
}
 li :hover{
color: wheat;
}
li:hover {
    transform: scale(1.05);
}


section {
    padding: 2em;
    text-align: center;
}

#home {
    background: url('./images/home.jpg') no-repeat center center/cover;
    color: #fff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home p,h1{
    color: black;
}

#services {
    color: white;
    background-color: #333;

    
    
}
.all-services{
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: center;
   align-items: center;
   gap: 3rem;
}

.service {
    margin: 2em 0;

    max-width: 270px;
    text-align: left;

}
#home span{
    color: rgb(241, 241, 63);
}
.service img{
    width: 270px;
    max-height: 10rem;
}
@media (max-width:900px) {
   .service{
    min-width: 250px;
    margin:0;
   } 
   .service h3{
    margin-top: 0;
   }
   .all-services{
    flex-wrap: wrap;
    gap: 1rem;
   }
}
h3 span{
    color: wheat;
}

#contact {
    color: whitesmoke;
    background-color:rgb(40, 40, 40);
}

/* Responsive Form */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 0 1em;
}

form label {
    display: block;
    margin-top: 1em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    display: block;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Responsive Sections */
@media (max-width: 768px) {
    section {
        padding: 1em;
    }

    .service {
        margin: 1em 0;
        padding: 0 1em;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.button{
    background-color: rgb(16, 16, 16);
    border-radius: 2rem;
}
.button:active{
    background-color: rgb(117, 117, 183);
}